/* @media(max-width:598px) {
    .foto {
        margin-top:50px;
    }
    .texto {
        margin-top:10px;
    }
} */

@media(max-width:900px) {
    .fotos {
        grid-template-columns:repeat(2, 2fr);
    }
}

@media (max-width:600px) {
    .cardapio p {
        text-align:center;
    }
    .cardapio {
        grid-template-columns:1fr;
        grid-template-rows:repeat(4, 1fr);
        margin:0;
    }
       
    .fotos {
        grid-template-columns:1fr;
        grid-template-rows:repeat(4, 1fr);
        
    }
    .sobre {
        grid-template-columns:none;
        margin-bottom:50px;
    }
    .sobre .img-apresenta.right {
        height:500px;
    }
}