@media(max-width:688px) {
    .fotos {
        grid-template-columns:repeat(2, 1fr);
        flex-wrap: wrap;
    }
}

@media(max-width:425px) {
    .cardapio {
        grid-template-columns:repeat(1, 1fr);
    }
    .sobre {
            grid-template-columns:repeat(1, 1fr);
        }
}


@media(max-width:414px) {
    .cardapio {
        grid-template-columns:repeat(1, 1fr);
    }
    .sobre {
            grid-template-columns:repeat(1, 1fr);
        }
}

@media(max-width:320px) {
    .fotos {
        grid-template-columns:repeat(1, 1fr);
    }
    .header h1 {
        font-size:3rem;
    }
}
