@media (max-width:1024px) {
    .texto-cardapio {
    margin-top:106px
    }
}

@media(max-width:688px) {
    .fotos {
        grid-template-columns:repeat(2, 1fr);
        flex-wrap: wrap;
    }
    .texto-cardapio {
        margin-top:50px
        }
}

@media(max-width:425px) {
    .cardapio {
        grid-template-columns:repeat(1, 1fr);
        margin-top: 20px;
    }
    .texto-cardapio {
        margin-top:400px
        }
        .sobre {
            grid-template-columns:repeat(1, 1fr);
        }
}


@media(max-width:414px) {
    .cardapio {
        grid-template-columns:repeat(1, 1fr);
        margin-top: 20px;
    }
    .texto-cardapio {
        margin-top:400px
        }
        .sobre {
            grid-template-columns:repeat(1, 1fr);
        }
}

@media(max-width:320px) {
    .fotos {
        grid-template-columns:repeat(1, 1fr);
    }
    .header h1 {
        font-size:3rem;
    }
}
